body,
html,
h1,
button {
  font-family: arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 13px;
  line-height: 20px;
  background: transparent;
  border: none;
}

.bg-main {
  width: 100%;
  height: 100vh;
  background-color: #F6F6F6;
  position: fixed;
}

.content {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  box-shadow: 0 2px 4px #d5d5d5;
  height: 85%;
  width: 780px;
  /*overflow: hidden scroll;*/
  margin: auto;
  position: relative;
  box-sizing: border-box;
  padding: 40px 50px;
  margin-top: 4%;
}

.head-title {
  font-weight: normal;
  font-size: 28px;
}

.head-calc {
  display: flex;
  padding: 15px;
}


.head-avg {
  color: #FFB400;
  font-size: 32px;
  font-weight: 200;
  padding: 0px;
  margin-top: 6px;
  margin-right: 10px;
}

.head-total {
  color: #878787;
  font-size: 15px;
  font-weight: 100;
  margin-left: 12px;
  margin-top: 11px;
}

.head-stars__0 {
  background-position: -100px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__0h {
  background-position: 119px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__1 {
  background-position: -81px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__1h {
  background-position: 138px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__2 {
  background-position: -62px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__2h {
  background-position: 158px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__3 {
  background-position: -43px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__3h {
  background-position: 177px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__4 {
  background-position: -24px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__4h {
  background-position: 196px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}

.head-stars__5 {
  background-position: 0px -388px;
  width: 96px;
  height: 29px;
  background-image: url("./randomIcons.png");
}
.body-stars__0 {
 background-position: -161px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__0h {
 background-position: 122px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__1 {
 background-position: -147px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__1h {
 background-position: 135px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__2 {
 background-position: -136px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__2h {
 background-position: 147px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__3 {
 background-position: -123px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__3h {
 background-position: 159px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__4 {
 background-position: -111px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__4h {
 background-position: 169px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}
.body-stars__5 {
 background-position: -101px -589px; 
width: 60px;
height: 14px;
  background-image: url("./randomIcons.png");
}




.star1 {  
  background-position: -2px -500px;
}

.review-body {
  overflow-y: scroll;
  height: 77%;

}

.review-body__topBorder {
  border-top: .5px solid #d5d5d5;
  padding-top: 20px;
}

.review-body__name {
  font-weight: bold;
}

.review-body__date {
  font-weight: normal;
  color: #999999;
}

.review-body__body {
  display: flex;
  margin-bottom: 0px;
  margin-top: 3px;
}
.review-body__Btn{
  display: flex;
}
.review-body__thumbInt{
  color: #999999;
  margin-top: 6px;
  margin-left: 6px;
}

.review-body::-webkit-scrollbar {
  width: 9px;
}

.review-body::-webkit-scrollbar * {
  background: transparent;
}

.review-body::-webkit-scrollbar-thumb {
  background: #CBDBCE !important;
}



.review-body__thumbIcon {
    color: #a3a3a3;
    cursor: pointer;
    outline: none;
    padding: 0;
     display: inline-block;
    fill: currentColor;
     height: 27px; 
    line-height: 24px;
    /* position: relative; */
     width: 18px; 
     margin-bottom: 14px;
}
